header {
   background-color: var(--white);
   width: 100%;
   height: 56px;
   position: fixed;
   top: 0;
   z-index: 100;
   box-shadow: 0px 1px 6px var(--gray);
}

header nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-width: 1040px;
   width: 90%;
   height: 100%;
   margin: 0 auto;
}

.Brand {
   align-content: center;
   width: 100px;
}

.Brand a {
   padding: 0;
}

.Brand a.NavItem:hover {
   border: none;
}

.Logo {
   width: 100%;
}

.ToogleBtn {
   display: none;
   margin-left: auto;
   width: 30px;
}

.ToogleBtn img {
   width: 100%;
}

@media (max-width: 900px) {
   .ToogleBtn {
      display: block;
   }
}
