.Carosal {
   width: 100%;
   height: 100%;
   background-image: url(../../assets/slide1.jpg);
   background-size: cover;
   animation: slider 10s infinite;
}

@keyframes slider {
   25% {
      background-image: url(../../assets/slide2.jpg);
   }
   50% {
      background-image: url(../../assets/slide3.jpg);
   }
   75% {
      background-image: url(../../assets/slide4.jpg);
   }
   100% {
      background-image: url(../../assets/slide1.jpg);
   }
}
