.EbookDetail {
   max-width: 100%;
   padding: 75px 0 40px 0;
   margin: 0 auto;
}

.BookInfo {
   margin: 30px auto 50px auto;
   max-width: 1040px;
   width: 95%;
}

.BookInfo__BookCover img {
   width: 100%;
}

.BookInfo__Info {
   position: relative;
}

.BookInfo__Info > h1 {
   font: 500 36px var(--font_family);
   margin: 0;
}

.BookInfo__Info > p {
   font: 500 20px var(--font_family);
   margin: 12px 0;
   letter-spacing: 0.5px;
}

p.BookInfo__Info__ReleasedYear {
   color: var(--pink-gray);
}

p.BookInfo__Info__Desc {
   margin-bottom: 50px;
}

.BookInfo__Info__Btn {
   position: absolute;
   right: 10px;
   bottom: 0;
}

.BookInfo__Info__Btn i {
   font-size: 19px;
   margin-right: 9px;
}

.BookInfo__Info__Btn button {
   outline: none;
   padding: 6px 30px;
   margin-left: 20px;
   font: 500 20px var(--font_family);
   border: none;
   border-radius: 20px;
   transition: all 0.3s;
}

.BookInfo__Info__Btn__Delete {
   color: white;
   background-color: var(--danger);
   box-shadow: 1px 2px 7px darkred;
}

.BookInfo__Info__Btn__Download {
   color: var(--black);
   background-color: var(--LiGreen);
   box-shadow: 1px 2px 7px darkgreen;
}

.BookInfo__Info__Btn__Download:hover,
.BookInfo__Info__Btn__Download:active {
   background-color: #16da57;
   box-shadow: 2px 3px 9px darkgreen;
}
/* ================== */
/* Suggestion Section */
/* ================== */
.EbookDetail__Suggestion__Section {
   width: 100%;
   padding: 30px 0;
   background-color: #ffffa2;
   border: 1px solid var(--gray);
}

.EbookDetail__Suggestions {
   max-width: 1040px;
   width: 90%;
   margin: 0 auto;
}

.EbookDetail__Suggestions h1 {
   margin: 0;
   color: var(--black);
   font: 500 28px var(--font_family);
}

.EbookDetail__Suggestions h1::after {
   content: "";
   display: block;
   width: 160px;
   height: 2px;
   margin-top: 5px;
   background-color: var(--black);
}

.EbookDetail__Suggestions__Books {
   display: flex;
   overflow: auto;
}

/* No suggestion book */
.EbookDetail__Suggestions__Books h2 {
   width: 100%;
   margin: 10px 0 0 30px;
   font: 400 24px var(--font_family);
}

/* =============== */
/* Comment Section */
/* =============== */
.EbookDetail__Comment {
   max-width: 1040px;
   width: 95%;
   margin: 30px auto;
}

.EbookDetail__Comment__Title h1 {
   color: var(--light-violet);
   font: 400 30px var(--font_family);
}

.EbookDetail__Comment i {
   font-size: 36px;
   margin-right: 20px;
}

.EbookDetail__Comment__CommentBox,
.EbookDetail__Comment__ShowComment {
   max-width: 750px;
   width: 85%;
   margin: 30px auto 0 auto;
   display: flex;
}

.EbookDetail__Comment__CommentBox form {
   width: 100%;
}

.EbookDetail__Comment__CommentBox form .form-group {
   display: flex;
   justify-content: space-between;
}

.EbookDetail__Comment__CommentBox__Text {
   font: 400 22px var(--font_family);
   color: var(--light-violet);
}

.EbookDetail__Comment__CommentBox input {
   outline: none;
   width: 75%;
   padding: 7px 15px;
   letter-spacing: 1px;
   font: 400 17px var(--font_family);
   border: 2px solid var(--pink-gray);
   border-radius: 15px;
   transition: all 0.3s;
}

.EbookDetail__Comment__CommentBox textarea {
   outline: none;
   width: 100%;
   height: 100px;
   padding: 7px 10px;
   letter-spacing: 1px;
   font: 400 17px var(--font_family);
   border: none;
   border-bottom: 2px solid var(--pink-gray);
   transition: all 0.3s;
}

.EbookDetail__Comment__CommentBox input:hover,
.EbookDetail__Comment__CommentBox input:focus,
.EbookDetail__Comment__CommentBox textarea:hover,
.EbookDetail__Comment__CommentBox textarea:focus {
   border-color: var(--black);
}

.EbookDetail__Comment__CommentBox button {
   float: right;
   outline: none;
   border: none;
   cursor: pointer;
   color: var(--success);
   font: 500 17px var(--font_family);
   background-color: var(--white);
}

.EbookDetail__Comment__CommentBox button:not(:disabled) {
   animation: notDisable 0.3s linear;
}

.EbookDetail__Comment__CommentBox button:disabled {
   color: var(--gray);
   cursor: not-allowed;
}

/* Show Comment */
.EbookDetail__Comment__ShowComment div p {
   margin: 0 0 8px 0;
   letter-spacing: 1px;
}

.EbookDetail__Comment__ShowComment__Email,
.EbookDetail__Comment__ShowComment__Email span {
   color: var(--pink-gray);
   font: 400 16px var(--font_family);
}

.EbookDetail__Comment__ShowComment__Comment {
   font: 400 17px var(--font_family);
}

/* CSS for Tablet */
@media (max-width: 786px) {
   .BookInfo__BookCover {
      text-align: center;
   }
   .BookInfo__BookCover img {
      width: 90%;
   }

   .BookInfo__Info > h1 {
      font: 500 28px var(--font_family);
   }

   .BookInfo__Info > p {
      font: 500 16px/20px var(--font_family);
      margin: 8px 0;
      letter-spacing: 0.5px;
      word-spacing: 2px;
   }

   p.BookInfo__Info__Desc {
      margin-bottom: 50px;
   }

   .BookInfo__Info__Btn i {
      font-size: 17px;
   }

   .BookInfo__Info__Btn button {
      padding: 6px 25px;
      font: 500 17px var(--font_family);
   }

   /* Suggestion for tablet */
   .EbookDetail__Suggestion__Section {
      padding: 30px 0;
   }

   .EbookDetail__Suggestions h1 {
      font: 500 24px var(--font_family);
   }

   .EbookDetail__Suggestions h1::after {
      width: 140px;
   }

   .EbookDetail__Suggestions__Books h2 {
      font: 400 20px var(--font_family);
   }

   /* Cmt for tablet */
   .EbookDetail__Comment__Title h1 {
      font: 400 24px var(--font_family);
   }

   .EbookDetail__Comment__ShowComment {
      margin: 20px auto 0 auto;
   }

   .EbookDetail__Comment i {
      font-size: 30px;
   }

   .EbookDetail__Comment__CommentBox__Text {
      font: 400 20px var(--font_family);
   }
}

/* CSS for mobile phone*/
@media (max-width: 480px) {
   .BookInfo {
      width: 90%;
   }

   .BookInfo__BookCover {
      text-align: center;
      margin-bottom: 20px;
   }
   .BookInfo__BookCover img {
      width: 55%;
   }

   .BookInfo__Info > h1 {
      font: 500 20px var(--font_family);
   }

   .BookInfo__Info > p {
      font: 400 14px/18px var(--font_family);
      margin: 5px 0;
      text-align: justify;
   }

   p.BookInfo__Info__Desc {
      margin-bottom: 50px;
   }

   .BookInfo__Info__Btn i {
      font-size: 15px;
   }

   .BookInfo__Info__Btn button {
      padding: 6px 20px;
      font: 400 15px var(--font_family);
   }

   /* Suggestion for mobile phone */
   .EbookDetail__Suggestions h1 {
      font: 500 20px var(--font_family);
   }

   .EbookDetail__Suggestions h1::after {
      width: 115px;
   }

   .EbookDetail__Suggestions__Books h2 {
      font: 400 18px var(--font_family);
   }

   /* Cmt for mobile phone */
   .EbookDetail__Comment__Title h1 {
      font: 400 20px var(--font_family);
   }

   .EbookDetail__Comment__CommentBox__Text {
      font: 400 17px var(--font_family);
   }

   .EbookDetail__Comment__CommentBox form .form-group {
      display: flex;
      flex-flow: column;
   }

   .EbookDetail__Comment__CommentBox input {
      width: 100%;
      margin-top: 10px;
      padding: 7px 10px;
      font: 400 14px var(--font_family);
      border: 1px solid var(--pink-gray);
      border-radius: 5px;
   }

   .EbookDetail__Comment__CommentBox textarea {
      height: 90px;
      font: 400 14px var(--font_family);
   }

   .EbookDetail__Comment__CommentBox {
      margin-bottom: 20px;
   }

   .EbookDetail__Comment__ShowComment {
      margin: 15px auto 0 auto;
   }

   .EbookDetail__Comment i {
      font-size: 24px;
      margin-right: 15px;
   }

   /* Show Comment */
   .EbookDetail__Comment__ShowComment div p {
      margin: 0 0 5px 0;
   }

   .EbookDetail__Comment__ShowComment__Email,
   .EbookDetail__Comment__ShowComment__Email span {
      color: var(--pink-gray);
      font: 400 14px var(--font_family);
   }

   .EbookDetail__Comment__ShowComment__Comment {
      font: 400 14px var(--font_family);
   }
}
