button.Tag {
   outline: none;
   min-width: 180px;
   height: 40px;
   padding: 0 10px;
   margin: 15px 30px;
   background-color: var(--white);
   border-radius: 20px;
   border: 1px solid var(--gray);
   box-shadow: 1px 2px 6px var(--gray);
}
